@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Barlow', sans-serif;
    line-height: 1.7;
    color: #516171;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700 !important;
    color: #092032;
}

a {
    color: #092032;
    text-decoration: none;
    transition: all .4s ease;
    font-weight: 500 !important;
}

img {
    width: 100%;
}

section{
    padding: 80px 80px;
}

.bg-cover{
    background-position: center !important;
    background-size: cover !important;
    background-position: center !important;
}

.intro {
    margin-bottom: 40px;
}

.intro h6{
    font-weight: 400;
    color: #ff4d29;
}

.intro p{
    max-width: 700px;
    margin: auto;
}

/* navbar */
.top-navbar {
    background-color: #ff4d29;
    padding: 5px 0;
}

.top-navbar p {
    margin-bottom: 0;
    display: inline-block;
    margin-right: 16px;
    color: #fff;
}

.social-links a {
    width: 34px;
    height: 34px;
    background-color: rgba(255, 255, 255, .4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    margin-right: 5px;
    border-radius: 100%;
}

.social-links a:hover {
    background-color: #fff;
    color: #ff4d29;
}

.navbar{
    box-shadow: 0px 6px 30px rgba(0, 0, 0, .08);
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active{
    color: #ff4d29;
}

.navbar-brand{
    font-weight: 700;
    font-size: 26px;
    color: #092032;   
}

.navbar-brand span{
    color: #ff4d29;
}

/* btn */

.btn{
    padding: 9px 24px;
}

.btn-brand{
    background-color: #ff4d29;
    color: #fff;
    font-weight: 500 !important;
    margin-left: 10px;
    border: 2px solid #ff4d29 !important;
}

.btn-brand:hover{
    background-color: transparent;
    color: #ff4d29;
}

/* slider */
.slide1{
    background: linear-gradient(rgba(9, 32, 50, 0.3), rgba(9, 32, 50, 0.4)), url('../img/bg_banner1.jpg');
}

.slide2{
    background: linear-gradient(rgba(9, 32, 50, 0.3), rgba(9, 32, 50, 0.4)), url('../img/bg_banner2.jpg');
}

/* owl carousel */
.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    width: 60px !important;
    height: 60px !important;
    border-radius: 100% !important;
    background-color: #ff4d29 !important;
    color: #fff !important;
    display: grid;
    place-items: center;
    font-weight: 700 !important;
    margin-top: -30px !important;
    font-size: 12px !important;
    transition: all .3s ease;
}

.owl-prev{
    left: 0;
}

.owl-next{
    right: 0;
}

/* info box */
.info-box{
    display: flex;
    align-items: center;
}

.info-box img{
    width: 90px;
    margin-right: 24px;
}

/* miles */
#miles{
    background: linear-gradient(rgba(255, 77, 41, .9), rgba(255, 77, 41, .9)), url('../img/c2.jpg');
    color: #ffff;
}

#miles .display-4{
    font-weight: 700;
}

/* services */
.service-box{
    padding: 32px;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, .08);
}

.service-box img{
    width: unset;
}

.service-box h5{
    margin: 24px 0 12px 0;
}

/* project */
#project-slider .owl-next, 
#project-slider .owl-prev{
    background: #ff4d29 !important;
    margin-top: -50px !important;
}

.project{
    position: relative;
}

.project .overlay{
    background: linear-gradient(to bottom, rgba(9, 32, 50, 0), rgba(9, 32, 50, 1));
    position: absolute;
    width: 100%;
    height: 240px;
    bottom: 0;
    left: 0;
}

.project .content{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 32px;
}

.project h1, 
.project h6{
    color: #fff;
}

.project h6{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.project h6::before{
    content: '';
    width: 24px;
    height: 2px;
    background-color: #ff4d29;
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
}

